.SearchFilters {
  	padding: .8rem 1.5rem;
  	margin: 0 auto;
  	position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background: #ffffffe8;
    border-radius: 4px;

  	&__form {
  		display: flex;

  		& * {
  			margin-right: 1rem;

  			&:last-child {
  				margin-right: 0;
  			}
  		}

  		& input, select {
  			padding: .5rem .8rem;
  			border-radius: 4px;
  			border: 1px solid #c7c7c7;
  			color: #757575;
  			outline: 0;

  			&:focus {
  				border-color: #929292;
  			}
  		}

  		& input {
  			min-width: 200px;
  		}

  		& select {
  			min-width: 150px;
  			-webkit-appearance: none;
				-moz-appearance: none;
				-o-appearance: none;
				appearance: none;
		    display: flex;

        background-image: url("../../assets/images/icn-arrow-down.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 12px;
        background-size: 13px;
  		}

  		& button {
  		  background: #4285F4;
    		color: #fff;
  			padding: .5rem 1rem;
  			cursor: pointer;
    		border: none;
    		border-radius: 3px;
        transition: background .3s ease-in-out;

    		&:hover {
    			background: #216eec;
    		}

        &:disabled {
          background: #ccc;
          pointer-events: none;
          cursor: default;
        }
  		}
  	}
  }