body {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
  .gm-style-iw.gm-style-iw-c {
     padding: 0!important;
     border: 2px solid #bdbdbd;

    & .gm-style-iw-d {
      overflow: hidden!important;
      padding: .8rem 1.2rem;

      & .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .1rem .3rem;

        & p {
          display: flex;
          align-items: center;
          justify-content: space-between; 

          &:first-of-type {
            margin-top: 0;
            margin-bottom: 0;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          & img {
            width: 24px;
            height: auto;
            margin-right: .5rem;
          }
        }
      }
    }

    .gm-ui-hover-effect {
      display: none!important;
    }
  }
}